.add-wrapper {
	padding: 16*2rpx;
	padding-bottom: 100rpx;
	background: #f6f7f8;
	height: 100%;
	.edit-box {
		background: #fff;
		border-radius: 16rpx;
		padding: 24*2rpx;
	}
	.img-box {
		width: 295*2rpx;
		height: 197*2rpx;
		background: #f6f7f8;
		border: 1rpx solid #eee;
		border-radius: 8rpx;
		text-align: center;
		view {
			padding-top: 220rpx;
		}
		image{
			width: 100%;
			height: 100%;
		}
	}
	textarea {
		margin-top: 16*2rpx;
		height: 230*2rpx;
		width: 100%;
	}
	textarea, .input-box {
		font-size: 28rpx;
		color: #ccc;
	}
	.disFlex {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.radio-box {
		color: #333;
		radio {
			transform: scale(0.5);
		}
		text {
			position: relative;
			left: -8rpx;
		}
	}
	.edit-btn {
		color: #fff;
		background: #A4DEDC;
		border-radius: 24*2rpx;
		margin: 32rpx 0;
		border: none;
		&::after {
			border: none;
		}
	}
	.ac-btn{
		background-color: #7dc7c5;
	}

}



checkbox .wx-checkbox-input{
  border-radius: 3rpx;
  height: 35rpx;
  width: 35rpx;
  // margin-top: -4rpx;
}